.btn_long, .btn_short {
  padding: 12px 0;
  text-align: center;
  border: 1px solid #00BBA4;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #00BBA4;
  font-size: 14px;
  font-weight: 400;
}
.btn_long:hover, .btn_short:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_long {
  width: 178px;
}

.btn_short {
  width: 128px;
}

.info {
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.info:hover {
  margin-left: 15px;
}
.info a {
  text-decoration: none;
  color: #1A1D1C;
}

.profile_about .setup ion-icon {
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
}

.btn_long, .btn_short {
  padding: 12px 0;
  text-align: center;
  border: 1px solid #00BBA4;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #00BBA4;
  font-size: 14px;
  font-weight: 400;
}
.btn_long:hover, .btn_short:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_long {
  width: 178px;
}

.btn_short {
  width: 128px;
}

.info {
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.info:hover {
  margin-left: 15px;
}
.info a {
  text-decoration: none;
  color: #1A1D1C;
}

.profile_about .setup ion-icon {
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
}

.btn_long, .btn_short {
  padding: 12px 0;
  text-align: center;
  border: 1px solid #00BBA4;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #00BBA4;
  font-size: 14px;
  font-weight: 400;
}
.btn_long:hover, .btn_short:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_long {
  width: 178px;
}

.btn_short {
  width: 128px;
}

.info {
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.info:hover {
  margin-left: 15px;
}
.info a {
  text-decoration: none;
  color: #1A1D1C;
}

.profile_about .setup ion-icon {
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
}

.profile_about {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFFFFF;
  padding: 0 16px;
  width: 280px;
  max-height: 0;
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile_about .profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.profile_about .profile_info .profile_header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}
.profile_about .profile_info .setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.profile_about .profile_info .setup ion-icon {
  margin: 0;
}
.profile_about .profile_info .setup .info:hover {
  margin-left: 15px;
}

.profile_about.active {
  display: block;
  max-height: 100vh;
  height: 100vh;
  padding-top: 30px;
  margin-top: 8px;
}

.profile_about .profile_header h5 {
  display: block;
  color: #1A1D1C;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.profile_about .profile_header .account_info {
  height: 100%;
}
.profile_about .profile_header .account_info p, .profile_about .profile_header .account_info .hight_line, .profile_about .profile_header .account_info ion-icon {
  display: inline-block;
  margin: 0;
  color: #1A1D1C;
  font-size: 16px;
  font-weight: 400;
}
.profile_about .profile_header .account_info > p {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.profile_about .profile_header .account_info .hight_line {
  height: 12px;
  width: 1px;
  background-color: #E0E0E0;
  margin: 0 8px;
}

.btn_long, .btn_short {
  padding: 12px 0;
  text-align: center;
  border: 1px solid #00BBA4;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #00BBA4;
  font-size: 14px;
  font-weight: 400;
}
.btn_long:hover, .btn_short:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_long {
  width: 178px;
}

.btn_short {
  width: 128px;
}

.info {
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.info:hover {
  margin-left: 15px;
}
.info a {
  text-decoration: none;
  color: #1A1D1C;
}

.profile_about .setup ion-icon {
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
}

header .menu {
  position: absolute;
  width: 190px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  height: 100vh;
  top: 0;
  left: 0;
  padding: 16px;
  z-index: 1000;
  background: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .menu > ion-icon {
  margin-bottom: 37px;
  cursor: pointer;
  color: #2E3A59;
  font-size: 24px;
  font-weight: 600;
}
header .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 95vw;
  z-index: 11;
  background-color: rgba(183, 185, 189, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container.open .overlay {
  visibility: visible;
  opacity: 1;
}

header,
header .header_left,
header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  translate: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #FFF;
  position: sticky;
  top: 0;
  padding: 8px 0;
  margin-bottom: 24px;
  z-index: 11111;
}

#navbar.visible {
  background: transparent;
  translate: 0 -72px;
}

.header_left .logo,
.header_left .hamburger ion-icon:nth-child(2),
.header_left .community,
.header_right form input,
.header_right > .btn_short,
.header_right > .btn_long {
  display: none;
}

header .header_left .hamburger {
  cursor: pointer;
  margin-right: 16px;
}

header .header_left .hamburger ion-icon {
  color: #2E3A59;
  font-size: 20px;
  font-weight: 700;
}

header .header_left .logo2 {
  width: 54px;
  height: 100%;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.header_right form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_right form input.search_visible {
  display: block;
  width: 130px;
  margin-right: 8px;
  padding: 7px 5px 7px 19px;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  outline: none;
}

header .header_right {
  position: relative;
}

header .header_right ion-icon {
  margin-right: 20px;
  color: #828282;
  font-size: 18px;
  font-weight: 400;
}

header .header_right .image {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 84vw;
  }
  .overlay {
    display: none;
  }
  header {
    padding: 30px 0;
  }
  header .hamburger,
  .menu,
  .header_left .logo2 {
    display: none;
  }
  .header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 110px;
  }
  .header_left .logo {
    display: block;
    width: 100px;
    height: 100%;
  }
  .header_left .community {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
    color: #1A1D1C;
    font-size: 16px;
    font-weight: 400;
  }
  .header_right form input,
  .header_right .btn_short,
  .header_right .btn_long {
    display: block;
  }
  .header_right form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_right form ion-icon {
    position: absolute;
    left: 16px;
  }
  .header_right form input,
  .header_right form input.search_visible {
    width: 280px;
    padding: 10px 12px 10px 48px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    outline: none;
    margin-right: 0;
  }
  .header_right .btn_short {
    margin: 0 50px;
  }
  .header_right .btn_long {
    margin: 0 24px;
  }
  .header_right .btn_short:hover,
  .header_right .btn_long:hover {
    color: #35D6BD;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.btn_long, .btn_short {
  padding: 12px 0;
  text-align: center;
  border: 1px solid #00BBA4;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #00BBA4;
  font-size: 14px;
  font-weight: 400;
}
.btn_long:hover, .btn_short:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_long {
  width: 178px;
}

.btn_short {
  width: 128px;
}

.info {
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.info:hover {
  margin-left: 15px;
}
.info a {
  text-decoration: none;
  color: #1A1D1C;
}

.profile_about .setup ion-icon {
  color: #1A1D1C;
  font-size: 20px;
  font-weight: 400;
}

.profile_about {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFFFFF;
  padding: 0 16px;
  width: 280px;
  max-height: 0;
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile_about .profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.profile_about .profile_info .profile_header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}
.profile_about .profile_info .setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.profile_about .profile_info .setup ion-icon {
  margin: 0;
}
.profile_about .profile_info .setup .info:hover {
  margin-left: 15px;
}

.profile_about.active {
  display: block;
  max-height: 100vh;
  height: 100vh;
  padding-top: 30px;
  margin-top: 8px;
}

.profile_about .profile_header h5 {
  display: block;
  color: #1A1D1C;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.profile_about .profile_header .account_info {
  height: 100%;
}
.profile_about .profile_header .account_info p, .profile_about .profile_header .account_info .hight_line, .profile_about .profile_header .account_info ion-icon {
  display: inline-block;
  margin: 0;
  color: #1A1D1C;
  font-size: 16px;
  font-weight: 400;
}
.profile_about .profile_header .account_info > p {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.profile_about .profile_header .account_info .hight_line {
  height: 12px;
  width: 1px;
  background-color: #E0E0E0;
  margin: 0 8px;
}

footer {
  padding: 24px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  color: #1A1D1C;
  font-size: 14px;
  font-weight: 400;
}
footer .sorter_line {
  width: 100%;
  width: 100%;
  height: 1px;
  background-color: #F2F2F2;
  font-weight: 700;
}
footer .footer_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  text-align: center;
}

.footer_list ul a {
  color: #1A1D1C;
}

@media screen and (min-width: 1200px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .sorter_line {
    display: none;
  }
  footer .footer_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 16px;
  }
}
header {
  margin-bottom: 0;
}

.page_content {
  width: 100%;
}
.page_content .page_content_header {
  display: none;
}

.page_content_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.page_content_footer ul {
  padding: 12px 0;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
}
.page_content_footer ul li {
  padding: 6px 12px;
}
.page_content_footer ul li a {
  color: #4F4F4F;
}
.page_content_footer ul .active {
  background-color: #F2F2F2;
  border-radius: 6px;
}
.page_content_footer .filter button {
  padding: 10px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}
.page_content_footer .filter button .svg {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1200px) {
  .page_content {
    padding-top: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }
  .page_content .page_content_header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 298px;
  }
  .page_header_left {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  .page_header_left h1 {
    color: #1A1D1C;
    font-size: 48px;
    font-weight: 600;
  }
  .page_header_left p {
    color: #1A1D1C;
    font-size: 16px;
    font-weight: 400;
  }
  .page_header_left .btn_short {
    color: #fff;
    background-color: #00BBA4;
  }
  .page_header_right {
    position: relative;
  }
  .page_header_right .page_card {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 16px;
    padding: 8px 8px 0 8px;
  }
  .page_header_right .page_card .image {
    display: block;
    width: 264px;
    height: 284px;
  }
  .page_header_right .page_card .btn_card {
    padding: 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_header_right .page_card .btn_card .btn_short {
    color: #1A1D1C;
    background-color: #E0E0E0;
    border-radius: 8px;
    border: none;
  }
  .page_header_right .card_bubble_1 {
    width: 104px;
    height: 104px;
    position: absolute;
    left: 360px;
    bottom: 10px;
  }
  .page_header_right .card_bubble_2 {
    width: 72px;
    height: 72px;
    position: absolute;
    left: 310px;
    top: 10px;
  }
  .page_content_footer {
    padding: 28px 0;
    border-top: 1px solid #dcdcdc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page_content_footer ul {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
  }
}