
$colors: (
    success:  #00BBA4,
    primary: #2D9CDB,
    dark: #1A1D1C,
    light: #E6F8F7,
    text-color: #333333,
    text2-color: #828282,

    success-hover: #35D6BD,
    primary-hover: #5EBFE9,

    table-warning: #F2994A,
    table-primary: #2D9CDB,
    table-danger: #EB5757,

    icon-color: #2E3A59,

    line-color: #F2F2F2,
);

$fonts: (
    fs-blg: 34px,
    fs-lg: 24px,
    fs-md: 20px,
    fs-sm: 16px,
    fs-xsm: 14px,
    fs-icon: 18px,

    fw-lg:600,
    fw-defualt:400,
);