@import '../Helper/map';
@import '../Helper/mixin';

.info {
    padding: 12px 24px;
    cursor: pointer;
    white-space: nowrap;

    @include flex($align: center);
    @include flex_row(16px);
    @include size_color(dark, fs-md, fw-defualt);
    transition: all 0.3s linear;

    &:hover{
        margin-left: 15px;
    }

    a {
        text-decoration: none;
        color: map-get($colors, dark )
    }
}

.profile_about .setup ion-icon {
    @include size_color(dark, fs-md, fw-defualt);
}