@import '../Helper/map';
@import '../Helper/mixin';
@import '../Components/btn';
@import '../Components/list_inf';



//! Menu Hamburger 
header .menu {
    position: absolute;
    width: 190px;
    transform: translateX(-250px);
    height: 100vh;
    top: 0;
    left: 0;
    padding: 16px;
    z-index: 1000;
    background: #FFFFFF;
    transition: all .3s;


    > ion-icon {
        margin-bottom: 37px;
        cursor: pointer;
        @include size_color(icon-color, fs-lg, fw-lg);
    }

    .list {
        @include flex_colum(8px);
    }
}

